### macOS template
# General
.DS_Store
.AppleDouble
.LSOverride

# Visual Studio code
.vscode/*

# Jetbrains
.idea/*

# Dependency directories
node_modules/


# history
.history/

# dist
dist/*

# logs
logs
log
*.log
.log/


# dotenv environment variables file
.env
.env.*

# Runtime data
*.seed
